:root
{
    --text-color:  #333;
    --primary-color: #ec1f55;
}

body
{
    background-image: 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    height: 100vh;
    position: relative;
}
#player 
{
    position: relative;
    max-width: 400px;
    margin: 0 auto;
    background-color: rgb(181, 171, 164,0.5);
   
    /* width: 480px; */
    height: 320px;
    /* width: 100%;   */
    color: rgb(118 13 13);
    font-size: 12px;
    text-align: center;
    
  }

  .cd {
    display: flex;
    margin: auto;
    width: 160px;


  }
  
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    /* background-color: #333; */
    background-size: cover;
    margin: auto;
  }

  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0 8px 0;
  }
  
  .control .btn {
    color: #960b0b;
    padding: 18px;
    font-size: 18px;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
  }

  .progress
  {
    width: 80%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    cursor: pointer;
  }

  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  .playlist {
    margin-top: 40px;
    /* padding: 12px; */
    
    
  }

  .song .thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
    background-image: url(./name.jpg);
  }
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    padding: 8px 16px;
    border-radius: 5px;
    /* justify-content: center; */
    background-color: antiquewhite;
    opacity: 0.5;
  }
  
  .song .option {
    /* padding: 16px 8px; */
    color: #999;
    font-size: 18px;
    margin-left: 160px;
    
  }
  .song .option:hover
  {
    cursor: pointer;
  }
 
  .song .body {
    
    padding-left: 30px;
  }
  